<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="D:\home\site\wwwroot\antenv\Scripts\bash.exe"
                  arguments="startup.sh"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout"
                  startupTimeLimit="180">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
        <environmentVariable name="PATH" value="D:\home\site\wwwroot\antenv\Scripts;%PATH%" />
        <environmentVariable name="STREAMLIT_SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="STREAMLIT_SERVER_ADDRESS" value="0.0.0.0" />
        <environmentVariable name="STREAMLIT_SERVER_HEADLESS" value="true" />
        <environmentVariable name="STREAMLIT_SERVER_ENABLE_CORS" value="false" />
        <environmentVariable name="STREAMLIT_SERVER_ENABLE_XSRF_PROTECTION" value="false" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 