<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\antenv\Scripts\python.exe"
                  arguments="-m streamlit run main.py --server.port %HTTP_PLATFORM_PORT% --server.address 0.0.0.0 --server.headless true --server.enableCORS false --server.enableXsrfProtection false"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
        <environmentVariable name="STREAMLIT_SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="STREAMLIT_SERVER_ADDRESS" value="0.0.0.0" />
        <environmentVariable name="STREAMLIT_SERVER_HEADLESS" value="true" />
        <environmentVariable name="STREAMLIT_SERVER_ENABLE_CORS" value="false" />
        <environmentVariable name="STREAMLIT_SERVER_ENABLE_XSRF_PROTECTION" value="false" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 